<style>
announcement-agent-chat-box#generalchat {
    width: 100%;
    height: 100%;
}
</style>
<announcement-agent-chat-box id="generalchat" chatapi="{{APP_CONSTANTS.API_PATH}}/{{aiendpoint}}"
    attach="true" attachaccepts=".txt,.docx,.pdf,.xlsx" maxattachsize="4194304" maxattachsizeerror="{{i18n.MaxSizeError}}"
    maxattachments="4" maxattachmentserror="{{i18n.MaxAttachmentsError}}" mic="false"
    onresult="window.monkshu_env.apps[APP_CONSTANTS.APP_NAME].agentassist_main.processChatResponse(result, 'generalchat', '{{{activeaiapp.id}}}')"
    onrequest="window.monkshu_env.apps[APP_CONSTANTS.APP_NAME].agentassist_main.getChatRequest(prompt, files, 'generalchat', '{{{activeaiapp.id}}}')"></announcement-agent-chat-box>